	<% book.book_comments.each do |book_comment| %>
		<div class="comment-index">
			<div>
				<%= attachment_image_tag(book_comment.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
				<%= book_comment.user.name %>
			</div>
			<div class="comment-content">
				<%= book_comment.comment %>
			</div>
			<div id="destroy_link_<%= book.id %>">
			<% if current_user == book_comment.user %>
		  	<div class="comment-destroy">
	        <%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete, class: "btn-sm btn-danger destroy_book_#{@book.id}", remote: true %>
        </div>
			<% end %>
			</div>
		</div>
	<% end %>
	<div id="error_explanation"></div>
	<%= form_with(model:[book,book_comment]) do |f| %>
	<%= f.text_area :comment, row: '5', size: "100x5" %>
	<%= f.submit "送信", class:"btn btn-lg" %>
	<% end %>
			<!--<= render partial: 'book_comments/post', locals: {book: @book, book_comment: @book_comment} %>-->